// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YasminaaiApi from "../../../index.js";

export declare namespace PoliciesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PoliciesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PoliciesClient.Options>;

    constructor(options: PoliciesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Show a specific policy
     *
     * @param {YasminaaiApi.GetPoliciesCarPolicyRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.policies.showPolicy({
     *         carPolicy: 1
     *     })
     */
    public showPolicy(
        request: YasminaaiApi.GetPoliciesCarPolicyRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__showPolicy(request, requestOptions));
    }

    private async __showPolicy(
        request: YasminaaiApi.GetPoliciesCarPolicyRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.Policy>> {
        const { carPolicy } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                `policies/${core.url.encodePathParam(carPolicy)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as YasminaaiApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YasminaaiApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/policies/{carPolicy}");
    }

    /**
     * Listing requested policies
     *
     * @param {YasminaaiApi.GetPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YasminaaiApi.UnauthorizedError}
     *
     * @example
     *     await client.policies.listPolicies()
     */
    public listPolicies(
        request: YasminaaiApi.GetPoliciesRequest = {},
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.Policy[]> {
        return core.HttpResponsePromise.fromPromise(this.__listPolicies(request, requestOptions));
    }

    private async __listPolicies(
        request: YasminaaiApi.GetPoliciesRequest = {},
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.Policy[]>> {
        const {
            quote_request_id: quoteRequestId,
            quote_price_id: quotePriceId,
            provider_policy_id: providerPolicyId,
            car_sequence_number: carSequenceNumber,
            new_owner_id: newOwnerId,
            previous_owner_id: previousOwnerId,
            status,
            min_price: minPrice,
            max_price: maxPrice,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            quote_request_id: quoteRequestId,
            quote_price_id: quotePriceId,
            provider_policy_id: providerPolicyId,
            car_sequence_number: carSequenceNumber,
            new_owner_id: newOwnerId,
            previous_owner_id: previousOwnerId,
            status,
            min_price: minPrice,
            max_price: maxPrice,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                "policies",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as YasminaaiApi.Policy[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new YasminaaiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.YasminaaiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/policies");
    }

    /**
     * For issuing a new policy
     *
     * @param {YasminaaiApi.PostPoliciesRequest} request
     * @param {PoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YasminaaiApi.UnauthorizedError}
     * @throws {@link YasminaaiApi.UnprocessableEntityError}
     *
     * @example
     *     await client.policies.issuePolicy({
     *         quote_request_id: 123,
     *         quote_reference_id: "550e8400-e29b-41d4-a716-446655440000",
     *         quote_price_id: "550e8400-e29b-41d4-a716-446655440001"
     *     })
     */
    public issuePolicy(
        request: YasminaaiApi.PostPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__issuePolicy(request, requestOptions));
    }

    private async __issuePolicy(
        request: YasminaaiApi.PostPoliciesRequest,
        requestOptions?: PoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.Policy>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                "policies",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as YasminaaiApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new YasminaaiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new YasminaaiApi.UnprocessableEntityError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.YasminaaiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/policies");
    }
}
