// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as YasminaaiApi from "../../../index.js";

export declare namespace QuotesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class QuotesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<QuotesClient.Options>;

    constructor(options: QuotesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {YasminaaiApi.GetQuoteRequestsIdRequest} request
     * @param {QuotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YasminaaiApi.NotFoundError}
     *
     * @example
     *     await client.quotes.showQuote({
     *         id: 1
     *     })
     */
    public showQuote(
        request: YasminaaiApi.GetQuoteRequestsIdRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.QuoteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__showQuote(request, requestOptions));
    }

    private async __showQuote(
        request: YasminaaiApi.GetQuoteRequestsIdRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.QuoteResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                `quote-requests/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as YasminaaiApi.QuoteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new YasminaaiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.YasminaaiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/quote-requests/{id}");
    }

    /**
     * @param {YasminaaiApi.DeleteQuoteRequestsIdRequest} request
     * @param {QuotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YasminaaiApi.NotFoundError}
     *
     * @example
     *     await client.quotes.deleteQuote({
     *         id: 1
     *     })
     */
    public deleteQuote(
        request: YasminaaiApi.DeleteQuoteRequestsIdRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.DeleteQuoteRequestsIdResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteQuote(request, requestOptions));
    }

    private async __deleteQuote(
        request: YasminaaiApi.DeleteQuoteRequestsIdRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.DeleteQuoteRequestsIdResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                `quote-requests/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YasminaaiApi.DeleteQuoteRequestsIdResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new YasminaaiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.YasminaaiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/quote-requests/{id}");
    }

    /**
     * @param {QuotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.quotes.listQuotes()
     */
    public listQuotes(
        requestOptions?: QuotesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.GetQuoteRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listQuotes(requestOptions));
    }

    private async __listQuotes(
        requestOptions?: QuotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.GetQuoteRequestsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                "quote-requests",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as YasminaaiApi.GetQuoteRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.YasminaaiApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/quote-requests");
    }

    /**
     * For getting prices with benefits.
     * The Quote IDs can be used later to issue a policy
     *
     * @param {YasminaaiApi.PostQuoteRequestsRequest} request
     * @param {QuotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link YasminaaiApi.UnauthorizedError}
     *
     * @example
     *     await client.quotes.requestQuotes({
     *         owner_id: "owner_id",
     *         phone: "phone",
     *         birthdate: "2023-01-15",
     *         car_sequence_number: "car_sequence_number",
     *         car_estimated_cost: 1.1
     *     })
     */
    public requestQuotes(
        request: YasminaaiApi.PostQuoteRequestsRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): core.HttpResponsePromise<YasminaaiApi.QuoteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__requestQuotes(request, requestOptions));
    }

    private async __requestQuotes(
        request: YasminaaiApi.PostQuoteRequestsRequest,
        requestOptions?: QuotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<YasminaaiApi.QuoteResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.YasminaaiApiEnvironment.Default,
                "quote-requests",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as YasminaaiApi.QuoteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new YasminaaiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.YasminaaiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/quote-requests");
    }
}
